<h2>
  Template:<small>Dinamicos</small>
</h2>
<hr>
<!-- Formulario -->
<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">

  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>

    <div class="col-sm-9">

     <input class="form-control"
            type="text"
            [ngModel]="persona.nombre"
            name="nombre"
            placeholder="Nombre de la persona"
            required>
      <span *ngIf="nombreValido()"
            class="form-text text-danger">
        Debe de ser de 3 letras
      </span>
    </div>
  </div>
  <!-- ... -->

   <!-- Agregar -->
   <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>

    <div class="col-sm-9">

      <div class="input-group">

        <input class="form-control"
            type="text"
            ngModel
            name="agregar"
            placeholder="Agregar favorito"
            [(ngModel)]="nuevoJuego"
            (keyup.enter)="agregarJuego()"
            >

        <button class="btn btn-outline-primary"
                type="button"
                (click)="agregarJuego()">
          Agregar
        </button>

      </div>


    </div>
  </div>
  <!-- ... -->

  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>

    <div class="col-sm-9">
      <div *ngFor="let juego of persona.favoritos; let i = index"
           class="input-group mb-1">
        <input
               [(ngModel)]="juego.nombre"
               name= "favorito_{{ i }}"
               class="form-control"
               type="text"
               required>

        <button class="btn btn-outline-danger"
                type="button"
                (click)="eliminar(i)">
         Eliminar
       </button>

      </div>

    </div>
  </div>
  <!-- ... -->

<!-- Button guardar -->
  <div class="row">

    <div class="col-sm-12">

      <button type="button"
              class="btn btn-primary float-end"
              [disabled]="miFormulario.invalid"
              (click)="guardar()">
        Guardar
      </button>

    </div>

  </div>
  <!-- ... -->


</form>

<span>Persona</span>
<pre>{{ persona | json}}</pre>
